<h1>Listings</h1>
{{outlet}}

<ul class="nav nav-pills nav-stacked">
    {{#each listing in model}}
        <li>{{listing.name}} - {{listing.body}} - &euro;{{listing.price}} <span class="listing-posted">{{listing.posted}}</span></li>
    {{/each}}
</ul>